html {
    scroll-behavior: smooth;
  }
  
.mleft20{
    margin-left: 20px !important;
}
.navbar{
    background-color:#C1055D !important;
}
#menu{
background-image: url(../images/BG/bg_01.jpg);  
margin-bottom:50px;
} 
.imgcup{
    margin-left:-40%;
    opacity: 50%;
}
.absolute-pos{
    position: absolute  !important;
}
.menuholder{
   text-align: center;
   padding-top:10%;
}  
.box-shadow{ 
    box-shadow: 5px 10px #888888;
}
.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgba(59, 58, 58, 0.8) url(../images/loader/VAyR.gif) center no-repeat;
} 
/* Make spinner image visible when body element has the loading class */
body.loading .overlay{
    display: block;
}
.whitecup{
    padding: 30px 10px 10px 30px;
}
.teacup{
    float: left;
    padding: 30px 10px 10px 30px;
}
#menu-section-1{
    min-height: 800px;
}
#menu-section-2{
    min-height: 800px;
}
.burger{
    float: left;
    padding: 30px 10px 10px 30px;
}
#menu-section-3{
    min-height: 800px;
}
.icecream{
    float: left;
    padding: 30px 10px 10px 30px;
}
#menu-section-4{
    min-height: 800px;
}
#menu-section-5{
    min-height: 800px;
}
.conetops{
    float: left;
    padding: 30px 10px 10px 30px;
}
.menucontainer{
    background-color: rgba(0,0,0,0.66);
    padding:30px 30px 30px 30px; 
    min-height: 300px; 
    color: #fff; 
    width: 100%;
} 
.menucontainer table{
    width: 100%;
    padding-top:20px;
    padding-bottom: 20px;
}
.menucontainer tr>td{
    color: #fff;
    padding: 10px 10px 0px 30px;
    font-weight: 500;
    font-size: large;
    text-align: left;
}
.menucontainer tr{
    width: 100%;
}
.mtop30
{
    margin-top:30px;
}
.mtop10
{
    margin-top:10px;
}
.menuheader{
    background-color: rgba(0,0,0,0.66);
    padding:30px 30px 30px 30px; 
    color: #fff; 
    width: 100%;
    text-align: center;
}
footer{
    color:#fff;
    background-color: red;
    font-size: small;
    font-weight: 400;
    margin-top:50px;
    padding:30px 30px 30px 30px;
    text-align: center;
}
.table_icons{
    width: 100% !important;
    text-align: center;
}